@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "tailwindcss";

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}


/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */


:root {
  --primary: #FFA800;
  --secondary: #D9D9D9;
  --banner: #333333;
  --dark: #949494;
  --font-family: "Open Sans";
}

.text-fill {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--secondary);
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: white;
  }

  25% {
    background-color: #7dbc44;
  }

  100% {
    width: 100%;
    background-color: #7dbc44;
  }

  110% {
    width: 100%;
    background-color: #7dbc44;
  }
}

.progress-animation {
  transition: ease-in-out;
  animation: progressAnimation 5s linear;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.7s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.leading-loose {
  line-height: 2 !important;
}

.leading-relaxed {
  line-height: 1.75 !important;
}